client[[:space:]]/[[:space:]]** filter=lfs diff=lfs merge=lfs -text
indexes[[:space:]]/[[:space:]]** filter=lfs diff=lfs merge=lfs -text
launcher/pack/[[:space:]]/[[:space:]]** filter=lfs diff=lfs merge=lfs -text
